@model vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>@Model.ReleaseDate.ToShortDateString()</li>
    <li>@Model.Genre.Name</li>
    <li>@Model.DateAdded.ToLongDateString()</li>
    <li>@Model.Stock</li>

</ul>

